:root {
  --tcb-red: #E30613;
  --tcb-dark-red: #B0040E;

  --text: #111827;
  --muted: #6B7280;

  --bg: #ffffff;
  --panel-bg: #ffffff;
  --input-bg: #F9FAFB;
  --border: #E5E7EB;

  --radius: 14px;
  --shadow: 0 18px 45px rgba(17,24,39,.12);
  --shadow-soft: 0 12px 30px rgba(17,24,39,.08);

  --font: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}